Logic Apps/AWS Config/AWSConfig_LogicApp_ARM.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Logic App workflow (Consumption)."
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "dceIngestEndpoint": {
      "type": "string",
      "metadata": {
        "description": "Azure Monitor Logs Ingestion endpoint from the DCE. Example: https://xxxx.europe.ingest.monitor.azure.com"
      }
    },
    "dcrImmutableId": {
      "type": "string",
      "metadata": {
        "description": "immutableId of the Data Collection Rule (DCR)."
      }
    },
    "streamName": {
      "type": "string",
      "defaultValue": "Custom-AWSConfigItems_CL",
      "metadata": {
        "description": "DCR stream name (must match the streamDeclarations key)."
      }
    },
    "tableName": {
      "type": "string",
      "defaultValue": "AWSConfigItems_CL",
      "metadata": {
        "description": "Custom table name (for reference only; streamName is used for ingestion)."
      }
    }
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {},
          "triggers": {
            "When_HTTP_request_is_received": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "actions": {
            "Parse_SNS": {
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()",
                "schema": {
                  "type": "object",
                  "properties": {
                    "Type": {
                      "type": "string"
                    },
                    "MessageId": {
                      "type": "string"
                    },
                    "TopicArn": {
                      "type": "string"
                    },
                    "Message": {
                      "type": "string"
                    },
                    "Timestamp": {
                      "type": "string"
                    },
                    "SubscribeURL": {
                      "type": "string"
                    }
                  }
                }
              },
              "runAfter": {}
            },
            "Switch_on_SNS_Type": {
              "type": "Switch",
              "expression": "@body('Parse_SNS')?['Type']",
              "cases": {
                "SubscriptionConfirmation": {
                  "actions": {
                    "Confirm_SNS_Subscription": {
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "@body('Parse_SNS')?['SubscribeURL']"
                      },
                      "runAfter": {}
                    }
                  },
                  "case": "SubscriptionConfirmation"
                },
                "Notification": {
                  "actions": {
                    "MessageJson": {
                      "type": "Compose",
                      "inputs": "@json(body('Parse_SNS')?['Message'])",
                      "runAfter": {}
                    },
                    "ItemsArray": {
                      "type": "Compose",
                      "inputs": "@if(\n  not(empty(outputs('MessageJson')?['configurationItems'])),\n  outputs('MessageJson')?['configurationItems'],\n  if(\n    not(empty(outputs('MessageJson')?['configurationItem'])),\n    createArray(outputs('MessageJson')?['configurationItem']),\n    json('[]')\n  )\n)",
                      "runAfter": {
                        "MessageJson": [
                          "Succeeded"
                        ]
                      }
                    },
                    "For_each_configurationItem": {
                      "type": "Foreach",
                      "foreach": "@outputs('ItemsArray')",
                      "actions": {
                        "Ingest_to_Log_Ingestion_API": {
                          "type": "Http",
                          "inputs": {
                            "method": "POST",
                            "uri": "[concat(parameters('dceIngestEndpoint'), '/dataCollectionRules/', parameters('dcrImmutableId'), '/streams/', parameters('streamName'), '?api-version=2023-01-01')]",
                            "headers": {
                              "Content-Type": "application/json"
                            },
                            "authentication": {
                              "type": "ManagedServiceIdentity",
                              "audience": "https://monitor.azure.com/"
                            },
                            "body": [
                              {
                                "CaptureTime": "@{items('For_each_configurationItem')?['configurationItemCaptureTime']}",
                                "AwsAccountId": "@{items('For_each_configurationItem')?['awsAccountId']}",
                                "AwsRegion": "@{items('For_each_configurationItem')?['awsRegion']}",
                                "ResourceType": "@{items('For_each_configurationItem')?['resourceType']}",
                                "ResourceId": "@{items('For_each_configurationItem')?['resourceId']}",
                                "Arn": "@{items('For_each_configurationItem')?['ARN']}",
                                "AvailabilityZone": "@{items('For_each_configurationItem')?['availabilityZone']}",
                                "ConfigItemStatus": "@{items('For_each_configurationItem')?['configurationItemStatus']}",
                                "ConfigItemVersion": "@{items('For_each_configurationItem')?['configurationItemVersion']}",
                                "ConfigStateId": "@{items('For_each_configurationItem')?['configurationStateId']}",
                                "ConfigStateMd5Hash": "@{items('For_each_configurationItem')?['configurationStateMd5Hash']}",
                                "RelatedEvents": "@{items('For_each_configurationItem')?['relatedEvents']}",
                                "Relationships": "@{items('For_each_configurationItem')?['relationships']}",
                                "Tags": "@{items('For_each_configurationItem')?['tags']}",
                                "Configuration": "@{items('For_each_configurationItem')?['configuration']}",
                                "SupplementaryConfiguration": "@{items('For_each_configurationItem')?['supplementaryConfiguration']}",
                                "RawItem": "@{items('For_each_configurationItem')}"
                              }
                            ]
                          },
                          "runAfter": {}
                        }
                      },
                      "runAfter": {
                        "ItemsArray": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "case": "Notification"
                }
              },
              "default": {
                "actions": {}
              },
              "runAfter": {
                "Parse_SNS": [
                  "Succeeded"
                ]
              }
            }
          },
          "outputs": {}
        },
        "parameters": {}
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    },
    "note": {
      "type": "string",
      "value": "After deployment, copy the HTTP trigger URL from Logic App > When HTTP request is received. Then use it as the SNS HTTPS subscription endpoint."
    }
  }
}